@*@model TreinamentoTurma.Areas.Painel.ViewModel.TurmaViewModel*@
@model TreinamentoTurma.Areas.Painel.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "Entrar";
}

<h2>Fazer LogIn</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("Entrar", "Login", FormMethod.Post, new { }))
            {
                <div class="col-12">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Id)
                        @Html.LabelFor(m => m.Codigo)
                        @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Senha)
                        @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
                @*<div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SouProfessor)
                            @Html.CheckBoxFor(m => m.SouProfessor, new { @class = "" })
                            @Html.ValidationMessageFor(m => m.SouProfessor, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                <button class="btn btn-default" type="submit">Entrar</button>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputmask")
}