@model TreinamentoTurma.Areas.Painel.ViewModel.TurmaViewModel

@{
    ViewBag.Title = "Cadastrar";
}

<h2>Cadastrar turma</h2>

<div class="row"> 
    @using (Html.BeginForm("Cadastrar", "Turma", FormMethod.Post, new { }))
    {
        for (int i = 0; i < Model.ListaTurmas.Count; i++)
        {
            @Html.HiddenFor(m => m.ListaTurmas[i].Id)
            @Html.HiddenFor(m => m.ListaTurmas[i].Descricao)
            @Html.HiddenFor(m => m.ListaTurmas[i].LimiteAlunos)
        }

        <div class="col-md-12">

            <div class="form-group">
                @Html.HiddenFor(m => m.Id)
                @Html.LabelFor(m => m.Descricao)
                @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Descricao, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="col-md-12">

            <div class="form-group">
                @Html.LabelFor(m => m.LimiteAlunos)
                @Html.TextBoxFor(m => m.LimiteAlunos, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LimiteAlunos, "", new { @class = "text-danger" })
            </div>

        </div>


        <button class="btn btn-default" type="submit">Cadastrar Turma</button>
    }
</div>
<div class="divider">
    <div class="col-md-12">

        <hr />
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <ul class="list-group">

            @foreach (var turma in Model.ListaTurmas)
            {
                <li class="list-group-item ">
                    <div class="row">
                        <div class="col-sm-10">
                            <p>@turma.Descricao</p>
                            <p>@turma.LimiteAlunos</p>
                        </div>
                        <div class="col-sm-2">
                            @Html.ActionLink(" Editar", "Cadastrar", new { turma.Id }, new { @class = "btn btn-block btn-info glyphicon-pencil" })
                            @Html.ActionLink(" Excluir", "Excluir", new { turma.Id }, new { @class = "btn btn-block btn-danger glyphicon glyphicon-trash" })
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
