@model TreinamentoTurma.Areas.Painel.ViewModel.UsuarioViewModel

@{
    ViewBag.Title = "Login";
}

<h2>Cadastrar</h2>
<div class="jumbotron">
    <div class="row">
        <div class="col-12">
            @using (Html.BeginForm("Login", "Usuario", FormMethod.Post, new { }))
            {
                <div class="col-12">
                    <div class="form-group">
                        @Html.HiddenFor(m => m.Usuario.Id)
                        @Html.LabelFor(m => m.Usuario.Codigo)
                        @Html.TextBoxFor(m => m.Usuario.Codigo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Usuario.Codigo, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Usuario.Senha)
                        @Html.TextBoxFor(m => m.Usuario.Senha, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Usuario.Senha, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        @Html.LabelFor(m => m.SouProfessor)
                        @Html.CheckBoxFor(m => m.SouProfessor, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.SouProfessor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <button class="btn btn-default" type="submit">Entrar</button>
            }
        </div>
    </div>
</div>
